{
  "singleQuote": true,
  "printWidth": 120,
  "bracketSpacing": true,
  "overrides": [
    {
      "files": "*.{html,css}",
      "options": { "tabWidth": 4 }
    }
  ],
  "plugins": ["prettier-plugin-tailwindcss"]
}
