.sub_panel {
  background-color: #9747ff;
  border-radius: 8px;
  color: black;
  padding-top: 5px;
  padding-bottom: 5px;
}

.select_input {
  padding: 5px;
  border-width: 1px;
  min-width: 200px;
  border-radius: 10px;
  margin-bottom: 3px;
  display: inline-table;
}

.select_input:hover {
  box-shadow: 0 0 10px white;
}

.input_box {
  max-width: 100px;
  border-radius: 5px;
  text-align: center;
  background-color: #fcd19c;
  margin-left: 10px;
}

.input_box_md {
  background-color: #fcd19c;
  max-width: 75px;
  border-radius: 5px;
  text-align: center;
  margin-left: 5px;
}

.table_background {
  background-color: #fcd19c;
  padding: 10px;
  border-radius: 8px;
  color: black;
}

.time_label {
  margin-left: 30px;
  text-underline-offset: unset;
  color: white;
}

.loading {
  height: 100%;
  width: 100%;
  vertical-align: middle;
  padding-top: 35px;
}